<div class="interactive-container">
    <!-- <div id="outer-wrapper" class="showcase"> -->
            

                <div class='figureTitle' id="chartTitle">Changes in prices of essential goods and services, compared to unemployment benefits</div>
                <div class='subTitle' id="subTitle">Showing the value of the <span class="red">unemployment benefit</span> v the cost of <span class="blue">various essential goods and services</span>, both indexed at 100 in 2011</div>
                <div class='notes' id='chartKey'></div>
                <!-- <div class="buttons" id="buttons"></div> -->

            <div class="row borderBottom chartSans" id="graphicContainer">	
            
            </div>
            
            <div class='footer offset'>
                <div id="footerAnnotations">

                </div>	
                
                <span id="footnote"></span> Guardian graphic | Sources: Australian Bureau of Statistics Consumer Price Index, Department of Social Services
            </div>	
            
    <!-- </div> -->
</div>